/* ===================== GERAL ===================== */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;

    height: 100vh;
    width: 100%;
}

.click {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--laranja-vivo);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--laranja-claro);
}
