.campos-de-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-duplo,
.campo-unico {
    display: flex;
    justify-content: space-between;
    width: 500px;

    /* border: none; */
}

.campo-unico {
    flex-direction: column;
}

input,
textarea {
    border: none;
    outline: none;
    background-color: var(--color5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0 20px 0;
}
