.contato-container h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

.contato-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-top: 20px;
}

.contato-item > img {
    height: 24px;
    width: 24px;
    object-fit: cover;
    opacity: 0.6;
}

.contato-item h4 {
    font-weight: 500;
}

.contato-item p {
    color: #0a66c2;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.contato-item p:hover {
    text-decoration: underline;
}

.contato-item .normal {
    color: #000000;
    font-weight: 400;
}

.contato-item .normal:hover {
    text-decoration: none;
    cursor: auto;
}
