:root {
    --rosa-escuro: mediumvioletred;
    --rosa-claro: #f2d0e0;
    --sombra-do-card: darkgray;
}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.icone {
    width: 20px;
}

button {
    padding: 1px 6px;
}

/* ============================ HEADER ============================ */
.header-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-logo > span {
    font-weight: bold;
    font-size: 24px;
}

.header-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--rosa-escuro);
    padding: 20px;
}

/* ============================ MAIN ============================ */
main {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--rosa-claro);
    height: 100vh;
    width: 300px;
    padding: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.galeria {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.galeria-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px var(--sombra-do-card);
    height: 350px;
    width: 250px;
    text-align: center;
    border-radius: 5px;
}

.galeria-texto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 5px;
}

.galeria-texto > span {
    font-size: 24px;
    font-weight: bold;
}

/* ============================ FOOTER ============================ */
.rodape {
    background-color: var(--rosa-escuro);
    padding: 20px;
    text-align: center;
}

.rodape > p {
    font-weight: 600;
}
